<h1>angular项目,发布</h1>
<hr>

<!-- <cOne></cOne> -->
<!-- 引用子级组件即组件注册到主模块中使用 -->
<!-- <app-twoComponet></app-twoComponet> -->
<!-- <app-three-component></app-three-component>
<app-four-component></app-four-component> -->
<!-- <app-buy-count></app-buy-count> -->
<!-- <app-ngfor></app-ngfor> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngstyle></app-ngstyle> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngmodel></app-ngmodel> -->
<!-- <app-todlist></app-todlist> -->
<!-- <app-tablelist></app-tablelist> -->
<!-- <app-createobject></app-createobject> -->
<app-httpclient></app-httpclient>